<div class="wizard col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
    <form id="frmAgregarCaja" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 cust-margin-bottom-20">
        <h1 class="h2 text-primary text-center">Registrar Caja</h1>
        <hr>
        <div class="row">
            <div class="col-xl-2 offset-xl-4">
                <div class="form-group">
                    <label for="nombreCaja">Nombre:</label>
                    <input type="text" class="form-control" name="nombreCaja" id="nombreCaja">
                </div>
            </div>
            <div class="col-xl-3">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 offset-xl-3 text-center mt-2r">
                        <button type="button" class="btn btn-primary" id="btnSave">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="public/js/frmAgregarCaja.js"></script>