<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="h1 text-center text-capitalize text-primary titulo-form">Administración de Cajas</h2>
                <hr>
                <div class="justify-content-center btn-group btn-group-toggle col-xl-12 col-sm-12 col-12" data-toggle="buttons">
                    <label class="btn btn-white col-xl-2 col-lg-4 col-md-6">
                        <input type="radio" name="options" id="option1" value="agregarCaja" autocomplete="off">Agregar
                    </label>
                    <label class="btn btn-white col-xl-2 col-lg-4 col-md-6">
                        <input type="radio" name="options" id="option3" value="reporteCaja" autocomplete="off">Reportes
                    </label>
                </div>
                <div id="contenedor"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="public/js/frmCaja.js"></script>